<center>
  <h1>Contact Us</h1>
<%= form_for @message, url: contact_path do |message_form| %>
  <fieldset>
    <div class="form-group">
      <%= message_form.text_field :name, placeholder: "Name",class: "form-control" %>
    </div>
    
    <div class="form-group">
      <%= message_form.email_field :email, placeholder: "Email",class: "form-control"%>
    </div>
    
    <div class="form-group">
      <%= message_form.text_field :content, placeholder: "Message",class: "form-control"%>
    </div>
  </fieldset>
  
  <fieldset>
    <div class="field">
      <%= message_form.submit "Send" %>
    </div>
  </fieldset>
<% end %>
</center>