<p id="notice"><%= notice %></p>

<h1><center>Listing Documents</center></h1>

<table class="table table-hover">
  <thead>
    <tr class="active">
      <th><center>Title<center></th>
      <th><center>Time<center></th>
      <th><center>Content<center></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @docs.each do |doc| %>
      <tr >
        <td><center><%= link_to doc.title, doc, class: "btn btn-primary" %></center></td>
        <td><center><%= time_ago_in_words(doc.created_at) %></center></td>
        <td><center><%= truncate(doc.content, length:50) %></center></td>
        <!-- <td><%= link_to 'Show', @doc %></td> -->
        <!-- <td><%= link_to 'Edit', edit_doc_path(doc) %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<center><%= link_to 'New Doc', new_doc_path, class: "btn btn-info" %></center>
