<p id="notice"><%= notice %></p>

<h2><center>User Document</center></h2><br>

<table class="table table-hover">
  <thead>
    <tr  class="active">
      <th><center>Title</center></th>
      <th><center>Time</center></th>
      <th><center>Content</center></th>
      <th><center>City</center></th>
      <th><center>Address</center></th>
      <th><center>Latitude</center></th>
      <th><center>Longitude</center></th>
      <th><center>Location</center></th>
    </tr>
  </thead>
  <tbody>
     <tr>
        <td><center><%= @doc.title %></center></td>
        <td><center><%= time_ago_in_words(@doc.created_at) %></center></td>
        <td><center><%=truncate(@doc.content, length:50) %></center></td>
        <td><center><%= @doc.city %></center></td>
        <td><center><%= @doc.address %></center></td>
        <td><center><%= @doc.latitude %></center></td>
        <td><center><%= @doc.longitude %></center></td>
        <td><center><%= image_tag "http://maps.google.com/maps/api/staticmap?size=300x150&sensor=false&zoom=16&markers=#{@doc.latitude}%2C#{@doc.longitude}" %></center></td>
     </tr>
  </tbody>
</table>

<center><%= link_to 'Edit', edit_doc_path(@doc), class: "btn btn-info" %> |
<%= link_to 'Show', @doc, class: "btn btn-info" %> |
<%= link_to 'Back', docs_path, class: "btn btn-info" %> |
<%= link_to 'Destroy', @doc, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-info" %> |
<%= link_to 'Create New Document', new_doc_path, class: "btn btn-info" %></center>