<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @doc.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @doc.content %>
</p>

<p>
  <strong>City:</strong>
  <%= @doc.city %>
</p>

<p>
  <strong>Address:</strong>
  <%= @doc.address %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @doc.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @doc.longitude %>
</p>
<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@doc.latitude}%2C#{@doc.longitude}" %>
<%= link_to 'Edit', edit_doc_path(@doc) %> |
<%= link_to 'Back', docs_path %> |
<%= link_to 'Destroy', @doc, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Create New Document', new_doc_path %>